* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #4f2c3d;
    --light: #7d2851;
    --lighter: #edb8d2;
    --background: #fff;
}

body {
    background: var(--background);
    color: var(--dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 4rem auto;
}

a {
    color: inherit;
}

a:hover {
    color: var(--light);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

i {
    font-size: 4rem;
    width: 30px;
}

h1 {
    font-weight: 500;
}

h1, h2, header {
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    color: var(--lighter);
    margin-bottom: 1rem;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: calc(var(--tamanho-header) / 3 * 0.9);
    }
    h3 {
        font-size: calc(var(--tamanho-header) / 3 * 0.55);
    }
}
